@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --color-monochromatic-1: #343434;
  --color-monochromatic-2: #626262;
  --color-monochromatic-3: #949494;
  --color-monochromatic-4: #c8c8c8;
  --color-monochromatic-5: #ffffff;
}

body {
  background-color: var(--color-monochromatic-4);
}

.interface {
  max-width: 1380px;
  padding-left: 4%;
  padding-right: 4%;
  margin: 0 auto;
}
